header {
  background-image: url("../../assets/img/header_section_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 100vw;
  height: 100vh;
  position: relative;
  text-align: center;
}

#nav-holder {
  display: flex;
  width: 100%;
  background-color: rgba(35, 31, 32, 0.6);
  z-index: 1;
}

#left-nav-section {
  margin-left: 25px;
}

#right-nav-section {
  margin-right: 25px;
}

#left-nav-section,
#center-nav-section,
#right-nav-section {
  width: 33%;
  position: relative;
}

#left-nav-section nav,
#right-nav-section nav {
  display: block;
  position: absolute;
  bottom: 0;
}
#right-nav-section nav {
  right: 0;
}

#left-nav-section nav ul,
#right-nav-section nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
#left-nav-section nav ul a,
#right-nav-section nav ul a {
  color: #ddd;
  display: block;
}

#left-nav-section nav ul li a {
  padding: 10px 15px;
  font-size: 1.2em;
}

#right-nav-section nav ul li a {
  font-size: 2.3em;
  margin-right: 15px;
}

#left-nav-section nav ul ul {
  display: block;
  position: absolute;
  background: rgba(77, 68, 70, 0.6);
  text-align: left;
}
#left-nav-section nav ul ul li {
  border-bottom: 1px #e6bc5a solid;
}

#left-nav-section nav ul ul li:last-child {
  border-bottom: 0;
}

#left-nav-section nav ul ul a {
  width: 200px;
  display: none;
}

#left-nav-section nav ul li a:hover,
#right-nav-section nav ul li a:hover {
  color: #777;
}

#left-nav-section nav ul li:hover li a {
  display: block;
}

#center-nav-section {
  text-align: center;
}
#center-nav-section img {
  width: 200px;
  padding: 10px 0;
}

#overlay h2 {
  color: #fff;
  text-shadow: 1px 4px 9px #000000;
}

#overlay {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#header-text {
  margin-bottom: 50px;
}

#header-text h2 {
  color: #fff;
  font-size: 3.5em;
}

#header-btn {
  padding: 15px 30px;
  background: #e6bc5a;
  border-radius: 4px;
  color: #fff;
  font-size: 1.5em;
}

#header-btn:hover {
  cursor: pointer;
  color: #777;
}
/* #header {
  height: auto;
  width: 100vw;
  overflow: hidden;
  background: ;
  position: relative;
  text-align: center;
}

#header img {
  width: 100vw;
}



#header-btn: hover {

} */
