header {
  background-image: url("../../assets/img/header_section_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
  overflow: hidden;
}

/* Banner */

#overlay {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#header-text {
  margin-bottom: 50px;
}

#header-text h2 {
  color: #fff;
  font-size: 3.5em;
  text-shadow: 1px 4px 9px #000000;
}
