<div class="container-fit">
  <div class="row about-row">
    <div class="col-12">
      <h2>The Perfect Gang</h2>
      <p>At Perfect Gang Construction Inc, we believe in customer satisfaction and we manage and coordinate all the construction projects constructively. No matter the size or complexity of your project, we have it covered.  We have years of experience in managing construction and renovation projects for both residential and commercial buildings. We are determined to satisfy our clients 
        by</p>
    </div>
  </div>
  <div class="row about-row">
    <div class="col-4">
      <i class="fa-solid fa-building-circle-check"></i>
      <h3>Providing Quality Services</h3>
    </div>
    <div class="col-4">
      <i class="fa-solid fa-business-time"></i>
      <h3>Delivering Projects on Time</h3>
    </div>
    <div class="col-4">
      <i class="fa-solid fa-money-bill-trend-up"></i>
      <h3>Offering Reasonable Price</h3>
    </div>
  </div>
  <div class="row about-row">
    <a href="#" class="btn-about">Get you free Quote</a>
  </div>
</div>