header {
  display: block;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  text-align: center;
}

#header-bg {
  position: absolute;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#bg-holder {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
}

#nav-holder {
  display: flex;
  width: 100%;
  background-color: #3f3f3f;
  z-index: 1;
}

#left-nav-section,
#center-nav-section,
#right-nav-section {
  width: 33%;
  position: relative;
}

#left-nav-section nav,
#right-nav-section nav {
  display: block;
  position: absolute;
  bottom: 0;
}
#right-nav-section nav {
  right: 0;
}

#left-nav-section nav ul,
#right-nav-section nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
#left-nav-section nav ul a,
#right-nav-section nav ul a {
  color: #cccccc;
  display: block;
}

#left-nav-section nav ul li a {
  padding: 10px 15px;
  font-size: 16px;
}

#right-nav-section nav ul li a {
  font-size: 35px;
  margin-right: 15px;
}

#right-nav-section nav ul li:last-child a {
  margin-right: 0;
}

#left-nav-section nav ul ul {
  display: block;
  position: absolute;
  background: #4f4f4f;
}
#left-nav-section nav ul ul li {
  border-bottom: 1px #e5ba5b solid;
}

#left-nav-section nav ul ul li:last-child {
  border-bottom: 0;
}

#left-nav-section nav ul ul a {
  width: 200px;
  display: none;
}

#left-nav-section nav ul li a:hover,
#right-nav-section nav ul li a:hover {
  color: #fff;
}

#left-nav-section nav ul li:hover li a {
  display: block;
}

#center-nav-section {
  text-align: center;
}

#overlay h2 {
  color: #fff;
}

#overlay {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#header-text {
  margin-bottom: 50px;
}

#header-text h2 {
  color: #fff;
  font-size: 2.5em;
}

#header-btn {
  padding: 10px 30px;
  background: #e5ba5b;
  border-radius: 3px;
}
/* #header {
  height: auto;
  width: 100vw;
  overflow: hidden;
  background: ;
  position: relative;
  text-align: center;
}

#header img {
  width: 100vw;
}



#header-btn: hover {

} */
