
<header>
  <div id="bg-holder">
    <img id="header-bg" src="../../assets/img/header_section_bg.png" alt="man standing on ladder fixing the roof">
  </div>
  <div id="nav-holder">
    <div id="left-nav-section">
      <nav>
        <ul>
          <li>
            <a href="">Services</a>
            <ul>
                <li><a href="">Residential</a></li>
                <li><a href="">Commercial</a></li>
            </ul>
          </li>
          <li><a href="">Portfolio</a></li>
          <li><a href="">Contact Us</a></li>
        </ul>
      </nav>
    </div>
    <div id="center-nav-section">
      <img src="../../assets/img/logo.png" alt="perfect gang contracting inc" />
    </div>
    <div id="right-nav-section">
      <nav>
        <ul>
          <li><a href=""><i class="fa-brands fa-facebook-square"></i></a></li>
          <li><a href=""><i class="fa-brands fa-instagram-square"></i></a></li>
          <li><a href=""><i class="fa-brands fa-twitter-square"></i></a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div id="overlay">
    <div id="header-text">
      <h2>You only get it with</h2>
      <h2>The</h2>
      <h2>Perfect Gang</h2>
    </div>
    <a id="header-btn">Let's Build</a>
  </div>
</header>
