/* Navigation */
#nav-holder {
  display: flex;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(35, 31, 32, 0.6);
  z-index: 1;
}

.nav-separate-3 {
  width: 33%;
  position: relative;
}

nav {
  display: block;
  position: absolute;
  bottom: 0;
}

nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

#left-nav-section nav ul li a:hover,
#right-nav-section nav ul li a:hover {
  color: #777;
}

/* Left navigation bar */

#left-nav-section {
  margin-left: 25px;
}

#left-nav-section nav ul li a {
  padding: 15px 15px;
  font-size: 1.2em;
}

#left-nav-section nav ul ul {
  display: block;
  position: absolute;
  background: rgba(77, 68, 70, 0.6);
  text-align: left;
}

#left-nav-section nav ul ul li {
  border-bottom: 1px #e6bc5a solid;
}

#left-nav-section nav ul ul li:last-child {
  border-bottom: 0;
}

#left-nav-section nav ul ul a {
  width: 200px;
  display: none;
}

#left-nav-section nav ul li:hover li a {
  display: block;
}

/* Right navigation bar */

#right-nav-section {
  margin-right: 25px;
}

#right-nav-section nav {
  right: 0;
}

#right-nav-section nav ul li a {
  font-size: 2.3em;
  margin-right: 15px;
  margin-bottom: 10px;
}

/* center navigation */

#center-nav-section {
  text-align: center;
}

#center-nav-section img {
  width: 200px;
  padding: 10px 0;
}
