<header>
    <div id="left-nav">
        <nav>
            <ul>
                <li>
                    <a href="">Services</a>
                    <ul>
                        <li><a href="">Residential</a></li>
                        <li><a href="">Commercial</a></li>
                    </ul>
                </li>
                <li><a href="">Portfolio</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </nav>
    </div>
    <div id="center-nav">
        <img src="../../assets/img/logo.png" alt="perfect gang contracting inc" />
    </div>
    <div id="right-nav">
        <ul>
            <li><a href="">facebook</a></li>
            <li><a href="">instagram</a></li>
            <li><a href="">twiter</a></li>
        </ul>
    </div>
</header>