/* You can add global styles to this file, and also import other style files */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
} */

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling */
html,
body {
  font-family: "Segoe UI", tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  color: #ddd;
  display: block;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 40px;
}

p {
  margin: 10px 0;
}

/* Buttons */

/* Header */

[class*="btn"] {
  display: inline-block;
  padding: 15px 30px;
  border-radius: 4px;
  color: #fff;
  font-size: 1.5em;
}
[class*="btn-"]:hover {
  cursor: pointer;
  color: #777;
}

.btn-yellow {
  background: #e6bc5a;
}

.btn {
  background: #e6bc5a;
  padding: 15px 45px;
}

/* Page Setting */

.container {
  padding: 50px 0;
  width: 100%;
  height: auto;
}

.row {
  width: 80%;
  padding-bottom: 15px;
  margin: auto;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
